Repository ImadSaddik/ImadSaddikWebsite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, generate-sitemap

prettier-frontend:
  name: prettier (frontend)
  entry: npx prettier --write
  language: node
  language_version: system

generate-sitemap:
  name: Generate Sitemap
  entry: bash -c 'cd frontend && pnpm run sitemap && git add public/sitemap.xml'
  language: system
  pass_filenames: false

docs: update the conclusion
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/content.md
Due: prettier-frontend, generate-sitemap

docs: add introduction to the new extreme heat test section
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/content.md
Due: prettier-frontend, generate-sitemap

docs: transition between the extreme heat test to the conclusion
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/content.md
Due: prettier-frontend, generate-sitemap

style: format svg files
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/10_gpu_temperature_spring_summer.svg
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/9_cpu_package_temperature_spring_summer.svg
Due: prettier-frontend, generate-sitemap

chore: bump esbuild to v0.28.1
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

fix: update cmake build command to use available CPU cores
  frontend/public/sitemap.xml
  frontend/src/blogs/local-ai-stack-on-linux/content.md
Due: prettier-frontend, generate-sitemap

fix: update dependencies to resolve vulnerabilities
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: prettier-frontend

chore: revert unplugin-vue-components and unplugin-vue-markdown
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: prettier-frontend

chore: bump markdown-it to ^14.2.0
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

fix(frontend): resolve js-yaml DoS vulnerability with overrides and patch
  frontend/package.json
  frontend/patches/js-yaml@4.2.0.patch
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: prettier-frontend

chore: update the CV and remove the editable file
  frontend/public/imad_saddik.pdf
  resume_editable.svg
Due: none

feat: move the content from HireMe.vue to content.md
  frontend/public/sitemap.xml
  frontend/src/views/HireMe/content.md
Due: prettier-frontend, generate-sitemap

feat: move HireMe.vue to index.vue
  frontend/public/sitemap.xml
  frontend/src/router/index.js
  frontend/src/views/HireMe.vue
  frontend/src/views/HireMe/index.vue
Due: prettier-frontend, generate-sitemap

feat: move the image before the get in touch section
  frontend/public/sitemap.xml
  frontend/src/views/HireMe/index.vue
Due: prettier-frontend, generate-sitemap

fix: add rel="noopener noreferrer" to external link in HireMe index
  frontend/public/sitemap.xml
  frontend/src/views/HireMe/index.vue
Due: prettier-frontend, generate-sitemap

fix: add noopener,noreferrer to window.open calls for security best practices
  frontend/public/sitemap.xml
  frontend/src/components/ArticleHeader.vue
  frontend/src/views/HireMe/index.vue
  frontend/tests/unit/components/ArticleHeader.test.js
Due: prettier-frontend, generate-sitemap

chore: bump axios to v1.19.0
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: prettier-frontend

chore: upgrade pydantic-settings to v2.15.0
  backend/requirements.txt
Due: none

deps(frontend): update packages and patches to resolve security issues
  frontend/package.json
  frontend/patches/js-yaml@4.3.2.patch
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: prettier-frontend

fix: update .prettierignore to include additional generated files
  frontend/.prettierignore
Due: none

docs: add cover image
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-fix-sticky-hover-states-on-mobile-using-css-hover-media-queries/coverImage.svg
Due: prettier-frontend, generate-sitemap

docs: add conclusion
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-fix-sticky-hover-states-on-mobile-using-css-hover-media-queries/content.md
Due: prettier-frontend, generate-sitemap

docs: add section on testing the fix for sticky hover states on mobile
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-fix-sticky-hover-states-on-mobile-using-css-hover-media-queries/content.md
  frontend/src/blogs/how-to-fix-sticky-hover-states-on-mobile-using-css-hover-media-queries/mobile_fixed_hover_demo.mp4
Due: prettier-frontend, generate-sitemap

feat: add HTML and CSS language support to highlighter
  frontend/public/sitemap.xml
  frontend/src/services/shiki.js
Due: prettier-frontend, generate-sitemap

docs: add section on fixing sticky hover states using interaction media queries
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-fix-sticky-hover-states-on-mobile-using-css-hover-media-queries/content.md
Due: prettier-frontend, generate-sitemap

docs: add the sticky hover problem section
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-fix-sticky-hover-states-on-mobile-using-css-hover-media-queries/content.md
  frontend/src/blogs/how-to-fix-sticky-hover-states-on-mobile-using-css-hover-media-queries/desktop_hover_demo.mp4
  frontend/src/blogs/how-to-fix-sticky-hover-states-on-mobile-using-css-hover-media-queries/mobile_sticky_hover_demo.mp4
Due: prettier-frontend, generate-sitemap

docs: add the introduction
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-fix-sticky-hover-states-on-mobile-using-css-hover-media-queries/content.md
Due: prettier-frontend, generate-sitemap

fix: remove HTML language support from highlighter configuration
  frontend/public/sitemap.xml
  frontend/src/services/shiki.js
Due: prettier-frontend, generate-sitemap

chore: fix formatting
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-fix-sticky-hover-states-on-mobile-using-css-hover-media-queries/coverImage.svg
Due: prettier-frontend, generate-sitemap

feat: add controls and loop prop to VideoWithCaption
  frontend/public/sitemap.xml
  frontend/src/components/VideoWithCaption.vue
  frontend/tests/unit/components/VideoWithCaption.test.js
Due: prettier-frontend, generate-sitemap

feat: add loop modifier to video markdown transformer
  frontend/public/sitemap.xml
  frontend/src/constants/markdown.js
  frontend/tests/unit/markdown/transformer-video.test.js
  frontend/vite/markdown/transformers/video.js
Due: prettier-frontend, generate-sitemap

docs: document video loop modifier in markdown README
  frontend/vite/markdown/README.md
Due: none

chore: release v2.4.0
  CHANGELOG.md
  backend/main.py
  frontend/package.json
Due: prettier-frontend

chore: add .gitattributes for line endings and notebook stats
  .gitattributes
Due: none

fix: resolve dependency audit vulnerabilities
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: prettier-frontend

docs: add hyperlink to unicode-range in Fontsource explanation
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-self-host-google-fonts-with-fontsource-to-improve-web-performance/content.md
Due: prettier-frontend, generate-sitemap

docs: add frontmatter and introduction
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-self-host-google-fonts-with-fontsource-to-improve-web-performance/content.md
Due: prettier-frontend, generate-sitemap

fix: apply formatting
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-self-host-google-fonts-with-fontsource-to-improve-web-performance/coverImage.svg
  frontend/src/blogs/how-to-self-host-google-fonts-with-fontsource-to-improve-web-performance/hosted_font_requests.svg
  frontend/src/blogs/how-to-self-host-google-fonts-with-fontsource-to-improve-web-performance/self_hosted_font_pipeline.svg
Due: prettier-frontend, generate-sitemap

docs: add cover image
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-self-host-google-fonts-with-fontsource-to-improve-web-performance/coverImage.svg
Due: prettier-frontend, generate-sitemap

docs: clarify wording on font installation process with Fontsource
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-self-host-google-fonts-with-fontsource-to-improve-web-performance/content.md
Due: prettier-frontend, generate-sitemap

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(js|vue|css|scss|html|json|xml|svg)$
  generate-sitemap: any of: ^frontend/src/.*
