Repository ImadSaddik/ImadSaddikWebsite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, generate-sitemap

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.6"
    hooks:
      - id: ruff
        name: ruff (lint)
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        name: ruff (format)
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: "v9.39.1"
    hooks:
      - id: eslint
        name: eslint (frontend)
        files: ^frontend/.*\.(js|vue)$
        types: [file]
        args: [--fix, --config, frontend/eslint.config.js]
        additional_dependencies:
          - eslint@9.39.1
          - eslint-plugin-vue@10.6.2
          - eslint-config-prettier@10.1.8
          - globals@16.5.0
          - vue-eslint-parser@10.2.0

  - repo: local
    hooks:
      - id: prettier-frontend
        name: prettier (frontend)
        entry: npx prettier --write
        language: node
        language_version: system
        files: ^frontend/.*\.(js|vue|css|scss|html|json|xml|svg)$

  - repo: local
    hooks:
      - id: generate-sitemap
        name: Generate Sitemap
        entry: bash -c 'cd frontend && pnpm run sitemap && git add public/sitemap.xml'
        language: system
        files: ^frontend/src/.*
        pass_filenames: false

content: add blog post on warping and angling designs in Inkscape
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-warp-and-angle-your-designs-in-inkscape/1_flat_logo_does_not_match_the_top_surface.svg
  frontend/src/blogs/how-to-warp-and-angle-your-designs-in-inkscape/2_draw_shape_matching_surface.svg
  frontend/src/blogs/how-to-warp-and-angle-your-designs-in-inkscape/3_using_perspective_extension.svg
  frontend/src/blogs/how-to-warp-and-angle-your-designs-in-inkscape/4_perspective_fails_on_circle.svg
  frontend/src/blogs/how-to-warp-and-angle-your-designs-in-inkscape/5_adding_envelope_deformation.svg
  frontend/src/blogs/how-to-warp-and-angle-your-designs-in-inkscape/6_draw_shape_matching_curved_surface.svg
  frontend/src/blogs/how-to-warp-and-angle-your-designs-in-inkscape/7_editing_top_bend_path.svg
  frontend/src/blogs/how-to-warp-and-angle-your-designs-in-inkscape/8_aligning_top_bend_handles.svg
  frontend/src/blogs/how-to-warp-and-angle-your-designs-in-inkscape/9_aligning_all_bend_handles.svg
  frontend/src/blogs/how-to-warp-and-angle-your-designs-in-inkscape/content.md
  frontend/src/blogs/how-to-warp-and-angle-your-designs-in-inkscape/coverImage.svg
  frontend/src/blogs/how-to-warp-and-angle-your-designs-in-inkscape/index.vue
Due: prettier-frontend, generate-sitemap

style: format SVG images
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-warp-and-angle-your-designs-in-inkscape/1_flat_logo_does_not_match_the_top_surface.svg
  frontend/src/blogs/how-to-warp-and-angle-your-designs-in-inkscape/2_draw_shape_matching_surface.svg
  frontend/src/blogs/how-to-warp-and-angle-your-designs-in-inkscape/3_using_perspective_extension.svg
  frontend/src/blogs/how-to-warp-and-angle-your-designs-in-inkscape/4_perspective_fails_on_circle.svg
  frontend/src/blogs/how-to-warp-and-angle-your-designs-in-inkscape/5_adding_envelope_deformation.svg
  frontend/src/blogs/how-to-warp-and-angle-your-designs-in-inkscape/6_draw_shape_matching_curved_surface.svg
  frontend/src/blogs/how-to-warp-and-angle-your-designs-in-inkscape/7_editing_top_bend_path.svg
  frontend/src/blogs/how-to-warp-and-angle-your-designs-in-inkscape/8_aligning_top_bend_handles.svg
  frontend/src/blogs/how-to-warp-and-angle-your-designs-in-inkscape/9_aligning_all_bend_handles.svg
  frontend/src/blogs/how-to-warp-and-angle-your-designs-in-inkscape/coverImage.svg
Due: prettier-frontend, generate-sitemap

content: update the content of index.vue to match content.md
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-warp-and-angle-your-designs-in-inkscape/index.vue
Due: prettier-frontend, generate-sitemap

feat: add InlineIcon.vue to display icons in paragraphs
  frontend/public/sitemap.xml
  frontend/src/components/InlineIcon.vue
  frontend/tests/unit/components/InlineIcon.test.js
Due: prettier-frontend, generate-sitemap

fix: update default alt prop value in InlineIcon component
  frontend/public/sitemap.xml
  frontend/src/components/InlineIcon.vue
Due: prettier-frontend, generate-sitemap

test: refactor InlineIcon tests to reduce code duplication
  frontend/tests/unit/components/InlineIcon.test.js
Due: prettier-frontend

fix: add missing gap for InlineIcon.vue
  frontend/public/sitemap.xml
  frontend/src/App.vue
Due: prettier-frontend, generate-sitemap

feat: integrate tool node editor icon into blog post instructions
  frontend/public/sitemap.xml
  frontend/src/assets/icons/tool_node_editor.svg
  frontend/src/blogs/how-to-warp-and-angle-your-designs-in-inkscape/index.vue
Due: prettier-frontend, generate-sitemap

feat: update footer section to include 'My websites' and rename 'Contact' to 'Get in touch'
  frontend/public/sitemap.xml
  frontend/src/components/FooterSection.vue
  frontend/tests/e2e/homepage.spec.js
Due: prettier-frontend, generate-sitemap

refactor: merge get in touch with connect
  frontend/public/sitemap.xml
  frontend/src/assets/logos/calendly.svg
  frontend/src/components/FooterSection.vue
Due: prettier-frontend, generate-sitemap

fix: adjust footer column width for uniform layout
  frontend/public/sitemap.xml
  frontend/src/components/FooterSection.vue
Due: prettier-frontend, generate-sitemap

test: fix broken test by replacing 'Get in touch' with 'Support'
  frontend/tests/e2e/homepage.spec.js
Due: prettier-frontend

feat: add heart logo to footer and update GitHub logo alt text
  frontend/public/sitemap.xml
  frontend/src/assets/logos/heart.svg
  frontend/src/components/FooterSection.vue
Due: prettier-frontend, generate-sitemap

chore: remove unused logo imports from footer component
  frontend/public/sitemap.xml
  frontend/src/components/FooterSection.vue
Due: prettier-frontend, generate-sitemap

feat: update commit message types in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

docs: sort the commit mesage types alphabetically
  CONTRIBUTING.md
Due: none

feat: add a map file for Nginx to handle URL redirects
  infrastructure/README.md
  infrastructure/nginx/imadsaddik.com.conf
  infrastructure/nginx/redirects.map.conf
Due: none

refactor: put redirects.map inside snippets/
  infrastructure/nginx/imadsaddik.com.conf
Due: none

fix: capture query parameters
  infrastructure/nginx/imadsaddik.com.conf
  infrastructure/nginx/redirects.map.conf
Due: none

refactor: group links by article type
  infrastructure/nginx/redirects.map.conf
Due: none

feat: integrate markdown support with unplugin-vue-markdown
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/vite.config.js
Due: prettier-frontend

feat: add YouTube transformer for markdown support
  frontend/vite.config.js
  frontend/vite/index.js
  frontend/vite/markdown/transformers/youtube.js
Due: prettier-frontend

chore: move index.js inside markdown/
  frontend/vite/markdown/index.js
Due: prettier-frontend

feat: add guide for checking battery capacity on Linux
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-check-battery-capacity-on-linux/content.md
Due: prettier-frontend, generate-sitemap

fix: correct minor grammatical errors
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-check-battery-capacity-on-linux/content.md
Due: prettier-frontend, generate-sitemap

feat: add tips to prolong battery life in the guide
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-check-battery-capacity-on-linux/content.md
Due: prettier-frontend, generate-sitemap

feat: convert the markdown file into index.vue
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-check-battery-capacity-on-linux/codeSnippets.js
  frontend/src/blogs/how-to-check-battery-capacity-on-linux/coverImage.svg
  frontend/src/blogs/how-to-check-battery-capacity-on-linux/index.vue
Due: prettier-frontend, generate-sitemap

fix: use markdownItSetup instead of markdownItUses
  frontend/vite.config.js
Due: prettier-frontend

refactor: simplify regex expression
  frontend/vite/markdown/transformers/youtube.js
Due: prettier-frontend

refactor: simplify markdownItSetup and youtube.js
  frontend/vite.config.js
  frontend/vite/markdown/transformers/youtube.js
Due: prettier-frontend

feat: add unplugin-vue-components for automatic component imports
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/vite.config.js
Due: prettier-frontend

feat: add TypeScript definitions for global Vue components and update jsconfig.json
  frontend/components.d.ts
  frontend/jsconfig.json
  frontend/vite.config.js
Due: prettier-frontend

feat: add frontmatter to content.md
  frontend/public/sitemap.xml
  frontend/src/courses/benchmark-embedding-models/content.md
Due: prettier-frontend, generate-sitemap

refactor: remove h1 heading because title is already in frontmatter
  frontend/public/sitemap.xml
  frontend/src/courses/benchmark-embedding-models/content.md
Due: prettier-frontend, generate-sitemap

style: convert heading to sentence case and remove horizontal rules
  frontend/public/sitemap.xml
  frontend/src/courses/benchmark-embedding-models/content.md
Due: prettier-frontend, generate-sitemap

feat: wrap youtube link in a custom container
  frontend/public/sitemap.xml
  frontend/src/courses/benchmark-embedding-models/content.md
Due: prettier-frontend, generate-sitemap

refactor: remove date and tags from the article content
  frontend/public/sitemap.xml
  frontend/src/courses/benchmark-embedding-models/content.md
Due: prettier-frontend, generate-sitemap

feat: update youtube link syntax to support markdown format
  frontend/public/sitemap.xml
  frontend/src/courses/benchmark-embedding-models/content.md
  frontend/vite/markdown/transformers/youtube.js
Due: prettier-frontend, generate-sitemap

refactor: rename regex constants to uppercase for consistency
  frontend/vite/markdown/transformers/youtube.js
Due: prettier-frontend

feat: add header transformer
  frontend/vite/markdown/index.js
  frontend/vite/markdown/transformers/headers.js
Due: prettier-frontend
