Repository ImadSaddik/ImadSaddikWebsite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, generate-sitemap

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.6"
    hooks:
      - id: ruff
        name: ruff (lint)
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        name: ruff (format)
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: "v9.39.1"
    hooks:
      - id: eslint
        name: eslint (frontend)
        files: ^frontend/.*\.(js|vue)$
        types: [file]
        args: [--fix, --config, frontend/eslint.config.js]
        additional_dependencies:
          - eslint@9.39.1
          - eslint-plugin-vue@10.6.2
          - eslint-config-prettier@10.1.8
          - globals@16.5.0
          - vue-eslint-parser@10.2.0

  - repo: local
    hooks:
      - id: prettier-frontend
        name: prettier (frontend)
        entry: npx prettier --write
        language: node
        language_version: system
        files: ^frontend/.*\.(js|vue|css|scss|html|json|xml|svg)$

  - repo: local
    hooks:
      - id: generate-sitemap
        name: Generate Sitemap
        entry: bash -c 'cd frontend && pnpm run sitemap && git add public/sitemap.xml'
        language: system
        files: ^frontend/src/.*
        pass_filenames: false

content: add section on scheduling automatic backups for Meilisearch
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/content.md
Due: prettier-frontend, generate-sitemap

content: add section on managing Meilisearch securely with SSH tunneling
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/content.md
Due: prettier-frontend, generate-sitemap

content: add conclusion section summarizing secure Meilisearch management
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/content.md
Due: prettier-frontend, generate-sitemap

content: add missing images
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/1_systemd_vs_supervisor.png
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/1_systemd_vs_supervisor.svg
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/2_ssh_tunnel_meilisearch.png
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/2_ssh_tunnel_meilisearch.svg
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/3_add_instance_meilisearch_ui.png
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/3_add_instance_meilisearch_ui.svg
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/4_add_instance_details_ui.jpg
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/5_meilisearch_ui_dashboard.jpg
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/content.md
Due: prettier-frontend, generate-sitemap

content: add instructions for creating an index in Meilisearch UI
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/6_button_to_create_index.png
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/6_button_to_create_index.svg
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/7_create_index_modal.png
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/7_create_index_modal.svg
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/8_new_index_created.png
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/8_new_index_created.svg
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/content.md
Due: prettier-frontend, generate-sitemap

content: add section on uploading documents to Meilisearch index
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/10_upload_documents_interface.png
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/10_upload_documents_interface.svg
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/9_click_upload_docs.png
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/9_click_upload_docs.svg
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/content.md
Due: prettier-frontend, generate-sitemap

content: add section on searching and managing documents in Meilisearch UI
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/11_search_and_manage_documents.png
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/11_search_and_manage_documents.svg
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/content.md
Due: prettier-frontend, generate-sitemap

content: add section on updating index settings in Meilisearch
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/12_index_settings.png
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/content.md
Due: prettier-frontend, generate-sitemap

refactor: transform placeholder to UPPERCASE
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/content.md
Due: prettier-frontend, generate-sitemap

style: add missing "" around button names
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/content.md
Due: prettier-frontend, generate-sitemap

content: add hyperlinks and explain abbreviations
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/content.md
Due: prettier-frontend, generate-sitemap

fix: change the language to bash instead of output
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/content.md
Due: prettier-frontend, generate-sitemap

style: change Master Key to master key
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/content.md
Due: prettier-frontend, generate-sitemap

fix: remove unrelated image and fix indentation
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/1_systemd_vs_supervisor.png
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/1_systemd_vs_supervisor.svg
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/content.md
Due: prettier-frontend, generate-sitemap

chore: decrease image prefix by 1
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/10_search_and_manage_documents.png
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/10_search_and_manage_documents.svg
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/11_index_settings.png
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/1_ssh_tunnel_meilisearch.png
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/1_ssh_tunnel_meilisearch.svg
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/2_add_instance_meilisearch_ui.png
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/2_add_instance_meilisearch_ui.svg
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/3_add_instance_details_ui.jpg
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/4_meilisearch_ui_dashboard.jpg
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/5_button_to_create_index.png
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/5_button_to_create_index.svg
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/6_create_index_modal.png
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/6_create_index_modal.svg
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/7_new_index_created.png
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/7_new_index_created.svg
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/8_click_upload_docs.png
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/8_click_upload_docs.svg
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/9_upload_documents_interface.png
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/9_upload_documents_interface.svg
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/content.md
Due: prettier-frontend, generate-sitemap

chore: update the notebook to use meilisearch_python_sdk
  backend/notebooks/index_documents.ipynb
Due: none

feat: add a listener for visibilitychange to stop spawning meteors when page is hidden
  frontend/public/sitemap.xml
  frontend/src/components/MeteorShowers.vue
Due: prettier-frontend, generate-sitemap

fix: guarantee that there is one active timer
  frontend/public/sitemap.xml
  frontend/src/components/MeteorShowers.vue
Due: prettier-frontend, generate-sitemap

test: add unit tests for MeteorShowers component
  frontend/tests/unit/components/MeteorShowers.test.js
Due: prettier-frontend

fix: update batch size to use DEFAULT_BATCH_SIZE constant
  frontend/public/sitemap.xml
  frontend/src/components/ArticlesHub.vue
  frontend/src/constants/content.js
Due: prettier-frontend, generate-sitemap

fix(dependencies): update package overrides for security vulnerabilities
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: prettier-frontend

chore: order overrides alphabetically
  frontend/package.json
Due: prettier-frontend

feat: add offset to SearchRequest and use it in the backend
  backend/models/search.py
  backend/services/meilisearch.py
Due: none

refactor: move constant to api.js
  frontend/public/sitemap.xml
  frontend/src/constants/api.js
  frontend/src/constants/content.js
Due: prettier-frontend, generate-sitemap

refactor: remove data from getCardsData
  frontend/public/sitemap.xml
  frontend/src/components/ArticlesHub.vue
Due: prettier-frontend, generate-sitemap

refactor: send both size and offset to the API
  frontend/public/sitemap.xml
  frontend/src/components/ArticlesHub.vue
Due: prettier-frontend, generate-sitemap

feat: enhance load more articles functionality with offset handling
  frontend/public/sitemap.xml
  frontend/src/components/ArticlesHub.vue
Due: prettier-frontend, generate-sitemap

refactor: send data without calling stringify()
  frontend/public/sitemap.xml
  frontend/src/components/ArticlesHub.vue
Due: prettier-frontend, generate-sitemap

fix: update isSearchResponseEmpty condition to use cardData length
  frontend/public/sitemap.xml
  frontend/src/components/ArticlesHub.vue
Due: prettier-frontend, generate-sitemap

fix: clear cardData if search fails
  frontend/public/sitemap.xml
  frontend/src/components/ArticlesHub.vue
Due: prettier-frontend, generate-sitemap

test: add unit tests for ArticlesHub
  frontend/tests/unit/components/ArticlesHub.test.js
Due: prettier-frontend

fix: add dialog handling for special characters in search test
  frontend/tests/e2e/search.spec.js
Due: prettier-frontend

fix: handle initial read count for articles in metric tracking tests
  frontend/tests/e2e/metric-tracking.spec.js
Due: prettier-frontend

test: add pagination e2e tests
  frontend/tests/e2e/pagination.spec.js
Due: prettier-frontend

chore: remove unused import
  frontend/tests/unit/components/ArticlesHub.test.js
Due: prettier-frontend

refactor: remove isLoadMoreChecked and use isLoadMore
  frontend/public/sitemap.xml
  frontend/src/components/ArticlesHub.vue
Due: prettier-frontend, generate-sitemap

fix: add more blog posts to test_data to fix failing e2e tests
  backend/tests/test_data.py
Due: none

refactor: run metric-tracking e2e tests in serial mode
  frontend/tests/e2e/metric-tracking.spec.js
Due: prettier-frontend

content: add introduction and frontmatter
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-connect-a-custom-domain-and-secure-your-server-with-ssl/content.md
Due: prettier-frontend, generate-sitemap

content: embed YouTube video
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-connect-a-custom-domain-and-secure-your-server-with-ssl/content.md
Due: prettier-frontend, generate-sitemap
