Repository ImadSaddik/ImadSaddikWebsite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, generate-sitemap

prettier-frontend:
  name: prettier (frontend)
  entry: npx prettier --write
  language: node
  language_version: system

generate-sitemap:
  name: Generate Sitemap
  entry: bash -c 'cd frontend && pnpm run sitemap && git add public/sitemap.xml'
  language: system
  pass_filenames: false

content: change date
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-fix-soft-404-vulnerabilities-and-block-bots-in-nginx/content.md
Due: prettier-frontend, generate-sitemap

content: fix regex expression to use an anchor
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-fix-soft-404-vulnerabilities-and-block-bots-in-nginx/content.md
Due: prettier-frontend, generate-sitemap

style: replace the "Copy" text with the button
  frontend/src/components/ArticleHeader.vue
Due: prettier-frontend, generate-sitemap

refactor: change InlineButton's container to a span and pass attrs to button
  frontend/src/components/InlineButton.vue
Due: prettier-frontend, generate-sitemap

a11y: add aria-label to InlineButton
  frontend/public/sitemap.xml
  frontend/src/components/ArticleHeader.vue
Due: prettier-frontend, generate-sitemap

chore: bump version to v2.3.0 and update CHANGELOG
  CHANGELOG.md
  backend/main.py
  frontend/package.json
Due: prettier-frontend

feat(nginx): enable HTTP/2 support in HTTPS server block
  infrastructure/nginx/imadsaddik.com.conf
Due: none

feat(nginx): add X-Forwarded-Proto to /api/
  infrastructure/nginx/imadsaddik.com.conf
Due: none

feat(nginx): update resume route to redirect to PDF
  infrastructure/nginx/imadsaddik.com.conf
Due: none

feat(nginx): set root directory for HTTPS server block and remove redundant root directives
  infrastructure/nginx/imadsaddik.com.conf
Due: none

feat(nginx): move return to the end of /cdn-cgi/rum
  infrastructure/nginx/imadsaddik.com.conf
Due: none

fix(nginx): correct regex for blocking access to sensitive files
  infrastructure/nginx/imadsaddik.com.conf
Due: none

fix(nginx): include cloudflare config
  infrastructure/nginx/imadsaddik.com.conf
Due: none

refactor(nginx): clean the main Nginx config
  infrastructure/nginx/imadsaddik.com.conf
Due: none

content: add introduction
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-protect-your-home-server-from-power-outages-using-nut/content.md
Due: prettier-frontend, generate-sitemap

docs(blog): add battery voltage limits calculation section to NUT UPS guide
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-protect-your-home-server-from-power-outages-using-nut/01_float_voltage.png
  frontend/src/blogs/how-to-protect-your-home-server-from-power-outages-using-nut/01_float_voltage.svg
  frontend/src/blogs/how-to-protect-your-home-server-from-power-outages-using-nut/02_discharge_table.png
  frontend/src/blogs/how-to-protect-your-home-server-from-power-outages-using-nut/content.md
Due: prettier-frontend, generate-sitemap

docs(blog): add explanation of the NUT architecture
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-protect-your-home-server-from-power-outages-using-nut/05_nut_architecture.png
  frontend/src/blogs/how-to-protect-your-home-server-from-power-outages-using-nut/05_nut_architecture.svg
  frontend/src/blogs/how-to-protect-your-home-server-from-power-outages-using-nut/content.md
Due: prettier-frontend, generate-sitemap

docs(blog): add bypassing Ubuntu's security layer
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-protect-your-home-server-from-power-outages-using-nut/content.md
Due: prettier-frontend, generate-sitemap

docs(blog): add configuring the primary server
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-protect-your-home-server-from-power-outages-using-nut/content.md
Due: prettier-frontend, generate-sitemap

docs(blog): add shutting down the devices
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-protect-your-home-server-from-power-outages-using-nut/content.md
Due: prettier-frontend, generate-sitemap

docs(blog): add netdata in the visualization section
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-protect-your-home-server-from-power-outages-using-nut/06_netdata_ups.png
  frontend/src/blogs/how-to-protect-your-home-server-from-power-outages-using-nut/06_netdata_ups.svg
  frontend/src/blogs/how-to-protect-your-home-server-from-power-outages-using-nut/content.md
Due: prettier-frontend, generate-sitemap

docs(blog): add PeaNUT
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-protect-your-home-server-from-power-outages-using-nut/07_peanut_setup.png
  frontend/src/blogs/how-to-protect-your-home-server-from-power-outages-using-nut/08_peanut_dashboard.png
  frontend/src/blogs/how-to-protect-your-home-server-from-power-outages-using-nut/content.md
Due: prettier-frontend, generate-sitemap

docs(blog): add Homepage to the visualization section
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-protect-your-home-server-from-power-outages-using-nut/09_homepage_widget.png
  frontend/src/blogs/how-to-protect-your-home-server-from-power-outages-using-nut/09_homepage_widget.svg
  frontend/src/blogs/how-to-protect-your-home-server-from-power-outages-using-nut/content.md
Due: prettier-frontend, generate-sitemap

docs(blog): change the homepage section title
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-protect-your-home-server-from-power-outages-using-nut/content.md
Due: prettier-frontend, generate-sitemap

docs(blog): add tip for UPS configuration compatibility
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-protect-your-home-server-from-power-outages-using-nut/content.md
Due: prettier-frontend, generate-sitemap

docs(blog): add cover image
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-protect-your-home-server-from-power-outages-using-nut/coverImage.svg
Due: prettier-frontend, generate-sitemap

content: change nala with apt
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-protect-your-home-server-from-power-outages-using-nut/content.md
Due: prettier-frontend, generate-sitemap

docs(blog): lowercase text
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-protect-your-home-server-from-power-outages-using-nut/content.md
Due: prettier-frontend, generate-sitemap

docs(blog): divide text into 2 paragraphs
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-protect-your-home-server-from-power-outages-using-nut/content.md
Due: prettier-frontend, generate-sitemap

docs(blog): update server IP placeholder in configuration example
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-protect-your-home-server-from-power-outages-using-nut/content.md
Due: prettier-frontend, generate-sitemap

docs(blog): improve mathematical notation for battery charge calculation
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-protect-your-home-server-from-power-outages-using-nut/content.md
Due: prettier-frontend, generate-sitemap

docs(blog): move nut installation to the udev rule creation section
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-protect-your-home-server-from-power-outages-using-nut/content.md
Due: prettier-frontend, generate-sitemap

chore: add markdown-it-katex as a dependency
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: prettier-frontend

feat(md_syntax): add the math transformer
  frontend/vite/markdown/index.js
  frontend/vite/markdown/transformers/math.js
Due: prettier-frontend

test: add unit tests for the math transformer
  frontend/tests/unit/markdown/transformer-math.test.js
Due: prettier-frontend

content: explain the pre-commit framework
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-enforce-code-quality-locally-using-pre-commit-hooks/content.md
Due: prettier-frontend, generate-sitemap

content: setup standard hooks
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-enforce-code-quality-locally-using-pre-commit-hooks/content.md
Due: prettier-frontend, generate-sitemap

content: pass a string to rev
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-enforce-code-quality-locally-using-pre-commit-hooks/content.md
Due: prettier-frontend, generate-sitemap

content: setup hooks for python
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-enforce-code-quality-locally-using-pre-commit-hooks/content.md
Due: prettier-frontend, generate-sitemap

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(js|vue|css|scss|html|json|xml|svg)$
  generate-sitemap: any of: ^frontend/src/.*
