Repository ImadSaddik/ImadSaddikWebsite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, generate-sitemap

prettier-frontend:
  name: prettier (frontend)
  entry: npx prettier --write
  language: node
  language_version: system

generate-sitemap:
  name: Generate Sitemap
  entry: bash -c 'cd frontend && pnpm run sitemap && git add public/sitemap.xml'
  language: system
  pass_filenames: false

content: add h3 headers
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/content.md
Due: prettier-frontend, generate-sitemap

content: finish the the baseline test section
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/1_cpu_package_temperature_smoothed.png
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/1_cpu_package_temperature_smoothed.svg
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/2_flydigi_bs2_intake_openings.png
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/2_flydigi_bs2_intake_openings.svg
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/content.md
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/coverImage.svg
Due: prettier-frontend, generate-sitemap

content: add introduction
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/content.md
Due: prettier-frontend, generate-sitemap

content: separate the long paragraph into 2
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/content.md
Due: prettier-frontend, generate-sitemap

content: remove bold style from Latex because it is not supported
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/content.md
Due: prettier-frontend, generate-sitemap

content: polish the intoduction
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/content.md
Due: prettier-frontend, generate-sitemap

content: add the start of the IETS GT500 section
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/3_iets_gt500_top_down.png
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/3_iets_gt500_top_down.svg
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/content.md
Due: prettier-frontend, generate-sitemap

content: change the date of the article
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/content.md
Due: prettier-frontend, generate-sitemap

content: add conclusion
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/content.md
Due: prettier-frontend, generate-sitemap

content: update coverImage
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/coverImage.svg
Due: prettier-frontend, generate-sitemap

content: polish the KCD1 section
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/content.md
Due: prettier-frontend, generate-sitemap

content: polish the power draw and clock speeds section
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/content.md
Due: prettier-frontend, generate-sitemap

content: link the github repo
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/content.md
Due: prettier-frontend, generate-sitemap

content: add the start of the baseline test section
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/content.md
Due: prettier-frontend, generate-sitemap

content: finish the physics section
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/content.md
Due: prettier-frontend, generate-sitemap

content: replace establish with create
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/content.md
Due: prettier-frontend, generate-sitemap

content: update the date
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/content.md
Due: prettier-frontend, generate-sitemap

style: format svg files
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/1_cpu_package_temperature_smoothed.svg
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/2_flydigi_bs2_intake_openings.svg
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/3_iets_gt500_top_down.svg
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/4_cpu_package_temperature_gt500.svg
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/5_gpu_temperature_gt500.svg
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/6_cpu_power_draw.svg
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/7_gpu_power_draw.svg
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/8_gpu_clock_speeds.svg
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/coverImage.svg
Due: prettier-frontend, generate-sitemap

chore: migrate package overrides to pnpm-workspace.yaml
  frontend/package.json
  frontend/pnpm-workspace.yaml
Due: prettier-frontend

chore: update pnpm-lock
  frontend/pnpm-lock.yaml
Due: none

chore: add PASSWORD to main.py to test the bandit job in CI
  backend/main.py
Due: none

test: use outdated cryptography module
  backend/main.py
Due: none

fix: change `if` to always and update the steps in the pipeline-success job
  .github/workflows/ci.yml
Due: none

refactor(backend): split dependencies into dev and prod
  backend/requirements-dev.txt
  backend/requirements.txt
Due: none

ci(audit): ignore PYSEC-2025-183
  .github/workflows/backend-vulnerability-check.yml
Due: none

refactor: add requirements.txt reference to requirements-dev.txt
  backend/requirements-dev.txt
Due: none

refactor: update dependency installation to use requirements-dev.txt
  .github/workflows/backend-integration-tests.yml
  .github/workflows/backend-unit-tests.yml
  CONTRIBUTING.md
  README.md
Due: none

docs: update pnpm version requirement to v11+ in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore: migrate shamefully-hoist setting to pnpm-workspace.yaml
  frontend/.npmrc
  frontend/pnpm-workspace.yaml
Due: none

ci: update jobs to use pnpm v11 and pnpm/action-setup v6
  .github/workflows/daily-deep-security-scan.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/frontend-build.yml
  .github/workflows/frontend-lint-format-check.yml
  .github/workflows/frontend-unit-tests.yml
  .github/workflows/frontend-vulnerability-check.yml
Due: none

docs: update pnpm version to v11 and add note on supply-chain protection
  CONTRIBUTING.md
Due: none

chore: add allowBuilds configuration for esbuild in pnpm-workspace.yaml
  frontend/pnpm-workspace.yaml
Due: none

security: bump js-cookie to v3.0.7
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

chore: update js-cookie version constraint to allow minor updates
  frontend/pnpm-workspace.yaml
Due: none

chore: update lock file
  frontend/pnpm-lock.yaml
Due: none

docs: add phase breakdown in the introduction
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/content.md
Due: prettier-frontend, generate-sitemap

docs: add gpu temperature plot
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/10_gpu_temperature_spring_summer.png
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/10_gpu_temperature_spring_summer.svg
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/content.md
Due: prettier-frontend, generate-sitemap

docs: add cpu package temperature comparison
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/9_cpu_package_temperature_spring_summer.png
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/9_cpu_package_temperature_spring_summer.svg
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/content.md
Due: prettier-frontend, generate-sitemap

docs: final polish
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/content.md
Due: prettier-frontend, generate-sitemap

docs: replace cranked with set
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-eliminate-laptop-thermal-throttling-with-high-static-pressure/content.md
Due: prettier-frontend, generate-sitemap

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(js|vue|css|scss|html|json|xml|svg)$
  generate-sitemap: any of: ^frontend/src/.*
