Repository ImadSaddik/ImadSaddikWebsite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, generate-sitemap

prettier-frontend:
  name: prettier (frontend)
  entry: npx prettier --write
  language: node
  language_version: system

generate-sitemap:
  name: Generate Sitemap
  entry: bash -c 'cd frontend && pnpm run sitemap && git add public/sitemap.xml'
  language: system
  pass_filenames: false

chore: remove console logs
  frontend/vite/markdown/transformers/superscript.js
Due: prettier-frontend

feat: add videos.js transformers
  frontend/public/sitemap.xml
  frontend/src/constants/markdown.js
  frontend/vite.config.js
  frontend/vite/markdown/index.js
  frontend/vite/markdown/transformers/videos.js
Due: prettier-frontend, generate-sitemap

feat: migrate content from index.vue to content.md and remove unused code snippets
  frontend/public/sitemap.xml
  frontend/src/astronomy/python-star-trails/codeSnippets.js
  frontend/src/astronomy/python-star-trails/content.md
  frontend/src/astronomy/python-star-trails/index.vue
Due: prettier-frontend, generate-sitemap

feat: migrate content from index.vue to content.md for star-trails-with-smartphone
  frontend/public/sitemap.xml
  frontend/src/astronomy/star-trails-with-smartphone/codeSnippets.js
  frontend/src/astronomy/star-trails-with-smartphone/content.md
  frontend/src/astronomy/star-trails-with-smartphone/index.vue
Due: prettier-frontend, generate-sitemap

feat: add table transformer
  frontend/vite/markdown/index.js
  frontend/vite/markdown/transformers/tables.js
Due: prettier-frontend

feat: migrate content from index.vue to content.md for local-ai-stack-on-linux
  frontend/public/sitemap.xml
  frontend/src/blogs/local-ai-stack-on-linux/codeSnippets.js
  frontend/src/blogs/local-ai-stack-on-linux/content.md
  frontend/src/blogs/local-ai-stack-on-linux/index.vue
Due: prettier-frontend, generate-sitemap

feat: document how transforming markdown to vue components work
  frontend/vite/markdown/README.md
Due: none

docs: update introduction in Markdown transformers
  frontend/vite/markdown/README.md
Due: none

docs: group syntax and examples together in Markdown transformers
  frontend/vite/markdown/README.md
Due: none

test: add tests for the headers transformer
  frontend/tests/unit/markdown/transformer-header.test.js
Due: prettier-frontend

test: add unit tests for admonitionTransformer functionality
  frontend/tests/unit/markdown/transformer-admonition.test.js
Due: prettier-frontend

test: add unit tests for superscriptTransformer functionality
  frontend/tests/unit/markdown/transformer-superscript.test.js
Due: prettier-frontend

test: add unit tests for fontAwesomeTransformer functionality
  frontend/tests/unit/markdown/transformer-font-awesome.test.js
Due: prettier-frontend

test: add unit tests for inlineIconTransformer functionality
  frontend/tests/unit/markdown/transformer-inline-icon.test.js
Due: prettier-frontend

test: add unit tests for videoTransformer functionality
  frontend/tests/unit/markdown/transformer-video.test.js
Due: prettier-frontend

test: add unit tests for inlineCodeTransformer functionality
  frontend/tests/unit/markdown/transformer-inline-code.test.js
Due: prettier-frontend

test: add unit tests for imageTransformer functionality
  frontend/tests/unit/markdown/transformer-image.test.js
Due: prettier-frontend

feat: render HTML inside each cell of the table
  frontend/public/sitemap.xml
  frontend/src/components/DataTable.vue
  frontend/vite/markdown/transformers/tables.js
Due: prettier-frontend, generate-sitemap

test: add unit tests for tableTransformer functionality
  frontend/tests/unit/markdown/transformer-table.test.js
Due: prettier-frontend

test: add unit tests for linkTransformer functionality
  frontend/tests/unit/markdown/transformer-link.test.js
Due: prettier-frontend

refactor: rename files to be singular
  frontend/vite/markdown/index.js
  frontend/vite/markdown/transformers/admonition.js
  frontend/vite/markdown/transformers/header.js
  frontend/vite/markdown/transformers/image.js
  frontend/vite/markdown/transformers/inlineIcon.js
  frontend/vite/markdown/transformers/link.js
  frontend/vite/markdown/transformers/list.js
  frontend/vite/markdown/transformers/table.js
  frontend/vite/markdown/transformers/video.js
Due: prettier-frontend

test: add unit tests for codeTransformer functionality
  frontend/tests/unit/markdown/transformer-code.test.js
Due: prettier-frontend

feat: add unit tests for listTransformer functionality
  frontend/tests/unit/markdown/transformer-list.test.js
Due: prettier-frontend

feat: add tests for youtubeTransformer functionality
  frontend/tests/unit/markdown/transformer-youtube.test.js
Due: prettier-frontend

chore: remove unused composables
  frontend/src/composables/useHubPage.js
  frontend/tests/unit/composables/useArticleContent.test.js
  frontend/tests/unit/composables/useArticleLoader.test.js
  frontend/tests/unit/composables/useHubPage.test.js
Due: prettier-frontend, generate-sitemap

fix: provide showToast to the ArticleHeader component
  frontend/tests/unit/components/ArticleHeader.test.js
Due: prettier-frontend

refactor: update mock structure for ARTICLE_COVER_IMAGE_REGISTRY in search tests
  frontend/tests/unit/utils/search.test.js
Due: prettier-frontend

fix: provide the openImageModal to ImageWithCaption
  frontend/tests/unit/components/ImageWithCaption.test.js
Due: prettier-frontend

chore: remove unused tests
  frontend/tests/unit/components/BulletPoint.test.js
Due: prettier-frontend

fix: rename the importec constant
  frontend/tests/unit/components/TableOfContents.test.js
Due: prettier-frontend

test: add unit tests for UnorderedItem and UnorderedList components
  frontend/tests/unit/components/UnorderedItem.test.js
  frontend/tests/unit/components/UnorderedList.test.js
Due: prettier-frontend

chore: bump minimatch and ajv to higher versions
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: prettier-frontend

fix: add files that I deleted by mistake
  frontend/public/sitemap.xml
  frontend/src/composables/useHubPage.js
  frontend/tests/unit/composables/useHubPage.test.js
Due: prettier-frontend, generate-sitemap

feat: migrate the last article to use content.md instead of index.vue and codeSnippets.js
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-check-battery-capacity-on-linux/codeSnippets.js
  frontend/src/blogs/how-to-check-battery-capacity-on-linux/content.md
  frontend/src/blogs/how-to-check-battery-capacity-on-linux/index.vue
Due: prettier-frontend, generate-sitemap

style: apply formatting
  frontend/components.d.ts
Due: none

fix: add missing @show-toast to RouterView in App.vue
  frontend/public/sitemap.xml
  frontend/src/App.vue
Due: prettier-frontend, generate-sitemap

refactor: simplify the logic of extracting the frontmatter
  frontend/public/sitemap.xml
  frontend/src/views/ArticlePage.vue
Due: prettier-frontend, generate-sitemap

feat: add custom rule for the superscript transformer
  frontend/vite/markdown/transformers/fontAwesome.js
  frontend/vite/markdown/transformers/superscript.js
Due: prettier-frontend

chore: remove markdown-it-attrs from the dependencies
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: prettier-frontend

feat: update the document title after loading an article
  frontend/public/sitemap.xml
  frontend/src/views/ArticlePage.vue
Due: prettier-frontend, generate-sitemap

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(js|vue|css|scss|html|json|xml|svg)$
  generate-sitemap: any of: ^frontend/src/.*
