Repository ImadSaddik/ImadSaddikWebsite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, generate-sitemap

prettier-frontend:
  name: prettier (frontend)
  entry: npx prettier --write
  language: node
  language_version: system

generate-sitemap:
  name: Generate Sitemap
  entry: bash -c 'cd frontend && pnpm run sitemap && git add public/sitemap.xml'
  language: system
  pass_filenames: false

refactor: create the hasReachedMaxClaps computed property
  frontend/public/sitemap.xml
  frontend/src/components/ArticleLayout.vue
Due: prettier-frontend, generate-sitemap

feat: implement optimistic clap handling with debounce logic
  frontend/public/sitemap.xml
  frontend/src/components/ArticleLayout.vue
  frontend/src/composables/useArticleTracking.js
  frontend/src/constants/api.js
Due: prettier-frontend, generate-sitemap

feat: update backend to receive variable count of claps
  backend/api/article.py
  backend/models/article.py
  backend/services/meilisearch.py
Due: none

test(backend): add a unit test for batched claps
  backend/tests/unit/test_api_article.py
Due: none

test(frontend): add a unit test for batched claps
  frontend/tests/unit/composables/useArticleTracking.test.js
Due: prettier-frontend

style: return early in beforeUnmount
  frontend/public/sitemap.xml
  frontend/src/components/ArticleLayout.vue
Due: prettier-frontend, generate-sitemap

test(e2e): fix broken test
  frontend/tests/e2e/metric-tracking.spec.js
Due: prettier-frontend

refactor: create the loadInitialClaps method
  frontend/public/sitemap.xml
  frontend/src/components/ArticleLayout.vue
Due: prettier-frontend, generate-sitemap

refactor: extract cleanup logic in beforeUnmount into a function
  frontend/public/sitemap.xml
  frontend/src/components/ArticleLayout.vue
Due: prettier-frontend, generate-sitemap

test: add boundary tests for increment article claps count
  backend/models/article.py
  backend/tests/unit/test_api_article.py
Due: none

fix: flush queued claps on hard navigation using fetch keepalive
  frontend/public/sitemap.xml
  frontend/src/components/ArticleLayout.vue
Due: prettier-frontend, generate-sitemap

test(backend): fix broken test
  backend/tests/unit/test_rate_limit.py
Due: none

chore: bump version to v2.1.0 and update changelog
  CHANGELOG.md
  backend/main.py
  frontend/package.json
Due: prettier-frontend

refactor: call incrementClapCount directly in beforeUnmount
  frontend/public/sitemap.xml
  frontend/src/components/ArticleLayout.vue
Due: prettier-frontend, generate-sitemap

refactor(claps): use fire-and-forget strategy for clap submission on unmount/pagehide
  frontend/public/sitemap.xml
  frontend/src/components/ArticleLayout.vue
  frontend/src/composables/useArticleTracking.js
Due: prettier-frontend, generate-sitemap

chore: add aiosqlite to requirements.txt
  backend/requirements.txt
Due: none

feat(visitor): add visitor tracking functionality to locust tests
  backend/tests/load/locustfile.py
Due: none

refactor(locust): remove unused view_homepage task from WebsiteUser
  backend/tests/load/locustfile.py
Due: none

feat(database): migrate to aiosqlite for asynchronous database operations
  backend/api/visitors.py
  backend/database.py
  backend/main.py
Due: none

chore: add meilisearch-python-sdk to requirements
  backend/requirements.txt
Due: none

feat(meilisearch): migrate to async Meilisearch SDK for improved performance
  backend/services/meilisearch.py
Due: none

feat(database): enhance database connection settings to handle concurrent writes ops
  backend/database.py
Due: none

feat(locust): extract list creation out of the method
  backend/tests/load/locustfile.py
Due: none

fix(meilisearch): correct document update logic in increment_claps_count method
  backend/services/meilisearch.py
Due: none

fix(meilisearch): pass a list of strings to the sort field.
  backend/services/meilisearch.py
Due: none

refactor(meilisearch): use direct key access to fail fast if a required field is not present
  backend/services/meilisearch.py
Due: none

chore: remove meilisearch from dependencies
  backend/requirements.txt
Due: none

refactor(meilisearch): use dictionary unpacking to create the Pydantic models
  backend/services/meilisearch.py
Due: none

fix(meilisearch): update get_latest_articles to handle sort parameter as list
  backend/services/meilisearch.py
Due: none

chore: use built-in list type
  backend/services/meilisearch.py
Due: none

refactor(meilisearch): reorder functions
  backend/services/meilisearch.py
Due: none

refactor(conftest): use AsyncClient from meilisearch_python_sdk
  backend/tests/integration/conftest.py
Due: none

fix(conftest): remove scope module to prevent " Event loop is closed"
  backend/tests/integration/conftest.py
Due: none

fix: update integration tests to await function calls.
  backend/tests/integration/test_meilisearch_integration.py
Due: none

fix: update unit tests to adapt to the new meilisearch package.
  backend/tests/unit/test_services_meilisearch.py
Due: none

fix: add type hints to test_sanitize_logic function
  backend/tests/unit/test_services_meilisearch.py
Due: none

fix: swap meilisearch with meilisearch_python_sdk in the remaining scripts
  backend/scripts/reset_read_clap_view_counts_meilisearch.py
  backend/scripts/seed_meilisearch.py
Due: none

fix: update import statement for Meilisearch client to use meilisearch_python_sdk
  backend/scripts/migrate_names_to_kebab_case.py
Due: none

fix: update import statements to use meilisearch_python_sdk
  backend/tests/test_data.py
Due: none

fix: pass values as arguments instead of a dict
  backend/scripts/migrate_names_to_kebab_case.py
  backend/scripts/reset_read_clap_view_counts_meilisearch.py
  backend/scripts/seed_meilisearch.py
Due: none

Path conditions:
  prettier-frontend: any of: ^frontend/.*\.(js|vue|css|scss|html|json|xml|svg)$
  generate-sitemap: any of: ^frontend/src/.*
