Repository ImadSaddik/ImadSaddikWebsite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, generate-sitemap

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.6"
    hooks:
      - id: ruff
        name: ruff (lint)
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        name: ruff (format)
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: "v9.39.1"
    hooks:
      - id: eslint
        name: eslint (frontend)
        files: ^frontend/.*\.(js|vue)$
        types: [file]
        args: [--fix, --config, frontend/eslint.config.js]
        additional_dependencies:
          - eslint@9.39.1
          - eslint-plugin-vue@10.6.2
          - eslint-config-prettier@10.1.8
          - globals@16.5.0
          - vue-eslint-parser@10.2.0

  - repo: local
    hooks:
      - id: prettier-frontend
        name: prettier (frontend)
        entry: npx prettier --write
        language: node
        language_version: system
        files: ^frontend/.*\.(js|vue|css|scss|html|json|xml|svg)$

  - repo: local
    hooks:
      - id: generate-sitemap
        name: Generate Sitemap
        entry: bash -c 'cd frontend && pnpm run sitemap && git add public/sitemap.xml'
        language: system
        files: ^frontend/src/.*
        pass_filenames: false

chore: remove blog converter skill
  .gemini/skills/blog_converter/SKILL.md
  .gemini/skills/blog_converter/assets/blog-template.vue
Due: none

refactor: rename variables
  frontend/public/sitemap.xml
  frontend/src/views/ArticlePage.vue
Due: prettier-frontend, generate-sitemap

fix: emit page-visited in ArticlePage
  frontend/public/sitemap.xml
  frontend/src/views/ArticlePage.vue
Due: prettier-frontend, generate-sitemap

feat: clear timer on unmount and article load
  frontend/public/sitemap.xml
  frontend/src/views/ArticlePage.vue
Due: prettier-frontend, generate-sitemap

feat: implement article view and read count tracking
  frontend/public/sitemap.xml
  frontend/src/composables/useArticleTracking.js
  frontend/src/views/ArticlePage.vue
Due: prettier-frontend, generate-sitemap

feat: integrate article clap tracking functionality
  frontend/public/sitemap.xml
  frontend/src/components/ArticleLayout.vue
  frontend/src/composables/useArticleTracking.js
  frontend/src/constants/content.js
Due: prettier-frontend, generate-sitemap

test: add tests for useArticleTracking
  frontend/tests/unit/composables/useArticleTracking.test.js
Due: prettier-frontend

refactor: make increment function return data
  frontend/public/sitemap.xml
  frontend/src/composables/useArticleTracking.js
Due: prettier-frontend, generate-sitemap

test: add tests for markdown content copy functionality and image fallback behavior
  frontend/tests/unit/components/ArticleHeader.test.js
  frontend/tests/unit/markdown/transformer-image.test.js
Due: prettier-frontend

test: add e2e tests for article metric tracking
  frontend/tests/e2e/metric-tracking.spec.js
Due: prettier-frontend

chore: add components.d.ts to .prettierignore
  frontend/.prettierignore
  frontend/components.d.ts
Due: none

perf: load renderable and source in parallel
  frontend/public/sitemap.xml
  frontend/src/views/ArticlePage.vue
Due: prettier-frontend, generate-sitemap

fix: change the condition to be >= to fix failing test due to parallel execution
  frontend/tests/e2e/metric-tracking.spec.js
Due: prettier-frontend

chore: add markdownlint configuration file
  frontend/.markdownlint.json
Due: prettier-frontend

fix: update GitHub edit link to point to content.md instead of index.vue
  frontend/public/sitemap.xml
  frontend/src/components/EditArticleOnGitHub.vue
  frontend/tests/unit/components/EditArticleOnGitHub.test.js
Due: prettier-frontend, generate-sitemap

chore: release v2.0.0
  .markdownlint.json
  CHANGELOG.md
  backend/main.py
  frontend/package.json
Due: prettier-frontend

chore: remove incorrect informatiom from CHANGELOG.md
  CHANGELOG.md
Due: none

fix: escape caption text in the image transformer
  frontend/tests/unit/markdown/transformer-image.test.js
  frontend/vite/markdown/transformers/image.js
Due: prettier-frontend

feat: add a new article about deploying a vue.js and FastAPI app
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-manually-deploy-a-vuejs-and-fastapi-application/1_ssh_tunnel_illustration.png
  frontend/src/blogs/how-to-manually-deploy-a-vuejs-and-fastapi-application/2_visiting_the_website_at_8080.png
  frontend/src/blogs/how-to-manually-deploy-a-vuejs-and-fastapi-application/3_process_hierarchy.png
  frontend/src/blogs/how-to-manually-deploy-a-vuejs-and-fastapi-application/content.md
  frontend/src/blogs/how-to-manually-deploy-a-vuejs-and-fastapi-application/coverImage.svg
Due: prettier-frontend, generate-sitemap

fix: correct conda environment name for backend command
  bash_scripts/run_all_services_tmux.sh
Due: none

feat: add border to image to make it pop
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-manually-deploy-a-vuejs-and-fastapi-application/2_visiting_the_website_at_8080.png
Due: prettier-frontend, generate-sitemap

chore: add missing dot
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-manually-deploy-a-vuejs-and-fastapi-application/content.md
Due: prettier-frontend, generate-sitemap

chore: bump minimatch to 10.2.3
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: prettier-frontend

article: add video tutorial
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-manually-deploy-a-vuejs-and-fastapi-application/content.md
Due: prettier-frontend, generate-sitemap

article: update terminology from "zombie" to "orphan" processes
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-manually-deploy-a-vuejs-and-fastapi-application/content.md
Due: prettier-frontend, generate-sitemap

article: remove repetitiveness
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-manually-deploy-a-vuejs-and-fastapi-application/content.md
Due: prettier-frontend, generate-sitemap

feat: change markdown image syntax to use markdown-it containers
  frontend/public/sitemap.xml
  frontend/src/components/ImageWithCaption.vue
  frontend/vite/markdown/README.md
  frontend/vite/markdown/transformers/image.js
Due: prettier-frontend, generate-sitemap

chore: transform the old image syntax to the new one in every content.md
  frontend/public/sitemap.xml
  frontend/src/astronomy/free-planetarium-apps/content.md
  frontend/src/astronomy/python-star-trails/content.md
  frontend/src/astronomy/star-trails-with-smartphone/content.md
  frontend/src/blogs/elasticsearch-pre-filtering-with-knn-search/content.md
  frontend/src/blogs/fix-kernel-panic-linux/content.md
  frontend/src/blogs/how-to-configure-firewall-ufw-fail2ban-ubuntu/content.md
  frontend/src/blogs/how-to-manually-deploy-a-vuejs-and-fastapi-application/content.md
  frontend/src/blogs/how-to-set-up-a-secure-cloud-server-with-ubuntu-and-ssh/content.md
  frontend/src/blogs/how-to-warp-and-angle-your-designs-in-inkscape/content.md
  frontend/src/blogs/inkscape-clean-up-document/content.md
  frontend/src/blogs/local-ai-stack-on-linux/content.md
Due: prettier-frontend, generate-sitemap

test: update broken tests
  frontend/tests/unit/components/ImageWithCaption.test.js
  frontend/tests/unit/markdown/transformer-image.test.js
Due: prettier-frontend

fix: escape image alt text in image transformer
  frontend/vite/markdown/transformers/image.js
Due: prettier-frontend

fix: replace div with figcaption for semantic HTML in ImageWithCaption component
  frontend/public/sitemap.xml
  frontend/src/components/ImageWithCaption.vue
Due: prettier-frontend, generate-sitemap

fix: remove the image caption prop and use slot
  frontend/public/sitemap.xml
  frontend/src/views/AboutMeFullStory.vue
  frontend/src/views/HireMe.vue
Due: prettier-frontend, generate-sitemap

chore: bump version to 2.0.1
  CHANGELOG.md
  backend/main.py
  frontend/package.json
Due: prettier-frontend

feat: remove VITE_API_BASE_URL and set axios baseURL to root; add proxy for API requests
  README.md
  frontend/.env.example
  frontend/public/sitemap.xml
  frontend/src/main.js
  frontend/vite.config.js
Due: prettier-frontend, generate-sitemap

feat: remove CORS_ORIGINS property and related tests
  backend/core/config.py
  backend/main.py
  backend/tests/unit/test_config.py
Due: none

refactor: finalize same-origin architecture by cleaning up environment configuration
  .github/workflows/daily-deep-security-scan.yml
  .github/workflows/e2e-tests.yml
  README.md
  frontend/.env.example
  frontend/playwright.config.js
Due: prettier-frontend

chore: remove creation of .env in the frontend
  README.md
Due: none

fix: enhance 404 error handling in ArticlePage component
  frontend/public/sitemap.xml
  frontend/src/views/ArticlePage.vue
Due: prettier-frontend, generate-sitemap

fix: update e2e test to check for the same url when going to an invalid article
  frontend/tests/e2e/navigation.spec.js
Due: prettier-frontend

test(e2e): improve invalid slug tests with parameterization and better assertions
  frontend/tests/e2e/navigation.spec.js
Due: prettier-frontend
