Repository ImadSaddik/ImadSaddikWebsite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, generate-sitemap

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.6"
    hooks:
      - id: ruff
        name: ruff (lint)
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        name: ruff (format)
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: "v9.39.1"
    hooks:
      - id: eslint
        name: eslint (frontend)
        files: ^frontend/.*\.(js|vue)$
        types: [file]
        args: [--fix, --config, frontend/eslint.config.js]
        additional_dependencies:
          - eslint@9.39.1
          - eslint-plugin-vue@10.6.2
          - eslint-config-prettier@10.1.8
          - globals@16.5.0
          - vue-eslint-parser@10.2.0

  - repo: local
    hooks:
      - id: prettier-frontend
        name: prettier (frontend)
        entry: npx prettier --write
        language: node
        language_version: system
        files: ^frontend/.*\.(js|vue|css|scss|html|json|xml|svg)$

  - repo: local
    hooks:
      - id: generate-sitemap
        name: Generate Sitemap
        entry: bash -c 'cd frontend && pnpm run sitemap && git add public/sitemap.xml'
        language: system
        files: ^frontend/src/.*
        pass_filenames: false

fix: validate index settings using MeilisearchSettings model
  backend/scripts/seed_meilisearch.py
Due: none

fix: refactor index deletion and creation to use new Meilisearch methods
  backend/tests/test_data.py
Due: none

fix: update Meilisearch SDK version and adjust sorting parameter type
  backend/requirements.txt
  backend/services/meilisearch.py
Due: none

fix(gunicorn): adjust timeout settings and add graceful shutdown parameters
  infrastructure/scripts/gunicorn_start
  infrastructure/supervisor/imadsaddik.conf
Due: none

fix: update markdownlint configuration to disable the MD028 rule
  .markdownlint.json
Due: none

content: add introduction
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/1_nginx_reverse_proxy.png
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/content.md
Due: prettier-frontend, generate-sitemap

content: replace png with svg image
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/1_nginx_reverse_proxy.png
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/1_nginx_reverse_proxy.svg
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/content.md
Due: prettier-frontend, generate-sitemap

content: add cover image and a new section.
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/2_vite_nginx_proxies.svg
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/content.md
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/coverImage.svg
Due: prettier-frontend, generate-sitemap

feat: add javascript language support to highlighter
  frontend/public/sitemap.xml
  frontend/src/services/shiki.js
Due: prettier-frontend, generate-sitemap

feat: add nginx language support to highlighter
  frontend/public/sitemap.xml
  frontend/src/services/shiki.js
Due: prettier-frontend, generate-sitemap

content: add a new section to content.md
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/3_nginx_playground_put_config.svg
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/4_nginx_playground_test_config.svg
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/content.md
Due: prettier-frontend, generate-sitemap

style: remove capitalization from the admonition title
  frontend/public/sitemap.xml
  frontend/src/components/AdmonitionBlock.vue
Due: prettier-frontend, generate-sitemap

content: add new sections for enabling site, firewall configuration, and testing deployment
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/content.md
Due: prettier-frontend, generate-sitemap

content: clarify instructions for replacing server IP with domain name in configuration
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/content.md
Due: prettier-frontend, generate-sitemap

fix: update admonition title to use formattedTitle for proper capitalization
  frontend/public/sitemap.xml
  frontend/src/components/AdmonitionBlock.vue
Due: prettier-frontend, generate-sitemap

content: add section on security headers and their configurations
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/content.md
Due: prettier-frontend, generate-sitemap

content: add detailed instructions for implementing a Content Security Policy (CSP)
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/content.md
Due: prettier-frontend, generate-sitemap

content: add clarification on using server IP or domain name in configuration instructions
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/content.md
Due: prettier-frontend, generate-sitemap

feat: add JSON language support to highlighter
  frontend/public/sitemap.xml
  frontend/src/services/shiki.js
Due: prettier-frontend, generate-sitemap

chore: add images for the article
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/10_select_folder_for_overrides.png
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/10_select_folder_for_overrides.svg
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/11_override_headers.png
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/11_override_headers.svg
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/12_add_csp_header.png
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/12_add_csp_header.svg
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/13_apply_to_all_resources.png
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/13_apply_to_all_resources.svg
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/14_website_broken_due_to_csp.png
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/15_csp_errors_in_console.png
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/16_website_partially_loading.png
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/17_remaining_csp_errors.png
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/18_csp_errors_resolved.png
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/19_security_headers_after.png
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/5_1_security_headers_before.png
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/5_2_security_headers_before.png
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/6_security_headers_after.png
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/7_network_tab_chrome.jpg
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/8_network_tab_with_resources.jpg
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/9_show_all_overrides.png
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/9_show_all_overrides.svg
Due: prettier-frontend, generate-sitemap

content: add complete Nginx configuration example for reverse proxy setup
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/content.md
Due: prettier-frontend, generate-sitemap

content: add next steps for securing the application with SSL certificate using Let's Encrypt
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/content.md
Due: prettier-frontend, generate-sitemap

content: improve clarity and grammar in troubleshooting section for reverse proxy setup
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/content.md
Due: prettier-frontend, generate-sitemap

perf: reduced the image sizes to improve page load time
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/10_select_folder_for_overrides.png
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/11_override_headers.png
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/12_add_csp_header.png
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/13_apply_to_all_resources.png
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/14_website_broken_due_to_csp.png
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/15_csp_errors_in_console.png
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/16_website_partially_loading.png
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/17_remaining_csp_errors.png
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/18_csp_errors_resolved.png
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/19_security_headers_after.png
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/5_1_security_headers_before.png
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/5_2_security_headers_before.png
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/6_security_headers_after.png
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/7_network_tab_chrome.jpg
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/8_network_tab_with_resources.jpg
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/9_show_all_overrides.png
Due: prettier-frontend, generate-sitemap

fix: update flatted package to version 3.4.1 for security improvements
  frontend/pnpm-lock.yaml
Due: none

content: embed youtube video
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/content.md
Due: prettier-frontend, generate-sitemap

test: add additional cases for empty title and string formatting in AdmonitionBlock
  frontend/tests/unit/components/AdmonitionBlock.test.js
Due: prettier-frontend

fix: correct punctuation in network tab description for clarity
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-set-up-nginx-as-a-reverse-proxy-and-configure-security-headers/content.md
Due: prettier-frontend, generate-sitemap

feat: add CodeQL analysis workflow for security scanning
  .github/workflows/codeql.yml
Due: none

chore: bump flatted to a higher version
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: prettier-frontend

chore: update pnpm lock
  frontend/pnpm-lock.yaml
Due: none

content: add introduction
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/content.md
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/coverImage.svg
Due: prettier-frontend, generate-sitemap

content: add video tutorial section to Meilisearch guide
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/content.md
Due: prettier-frontend, generate-sitemap

content: add section on exporting local data for Meilisearch
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/content.md
Due: prettier-frontend, generate-sitemap

content: add installation instructions for Meilisearch on the server
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/content.md
Due: prettier-frontend, generate-sitemap

content: add section on creating a dedicated system user for Meilisearch
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/content.md
Due: prettier-frontend, generate-sitemap

add section on transferring and importing the dump file for Meilisearch
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/content.md
Due: prettier-frontend, generate-sitemap

content: add section on running Meilisearch as a service with systemd
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/content.md
Due: prettier-frontend, generate-sitemap

chore: add hyperlink to allow readers to jump to section
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/content.md
Due: prettier-frontend, generate-sitemap

content: add section on connecting the backend to Meilisearch with production Master Key
  frontend/public/sitemap.xml
  frontend/src/blogs/how-to-self-host-and-securely-manage-meilisearch/content.md
Due: prettier-frontend, generate-sitemap
